body {
  background-color: #ff;
  .sass_test {
    background-color: #000;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width:100%;

    .logo {
      background-color: lightblue;
      margin:10px;
    }

    .button{
      background-color: yellow;
      margin: 10px 20px;
    }

  }

  .header {
    background-color: lightgreen;
    text-align: center;
    padding: 10%;

  }

  .tiles-container {
    display: flex;
    flex-direction: column;
    background-color: orange; 
    width:100%;

    .tiles-row {
      diplay: flex;
      flex-direction: row;
      background-color: lightblue;
      margin: 30px 0px;
      .tile {
        background-color: yellow;
        margin: 1% auto;
      }

    }
    
  }

}
