body {
  background-color: #ff;
  .sass_test {
    background-color: #000;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width:100%;

    .logo {
      margin:10px 20px 20px 10px;
    }

    .button{
      margin: 10px 20px 20px;
    }

  }

  .header {
    background-color: lightgreen;
    text-align: center;
    width: 100%;
    height: 300px;
  }

  .tiles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: orange; 
    width: 100%;
    height: auto;

    .tile {
      background-color: yellow;
      border-radius: 4px;
      box-shadow: 3px 3px 10px grey;
      margin: auto;
      width: 400px;
      height: 235px;
      margin-top: 5%;
    }

    .tile-bottom{
      @extend .tile;
      margin-bottom: 5%;
    }

  }
    
}
