body {
  background-color: #ff;
  .sass_test {
    background-color: #000;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width:100%;

    .logo {
      margin:10px 20px 20px;
    }

    .button{
      margin: 10px 20px 20px;
    }

  }

  .header {
    background-color: lightgreen;
    text-align: center;
    padding: 10%;

  }

  .tiles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: orange; 
    width:100%;

    .tile {
      background-color: yellow;
      padding: 5%;
      margin: 5%;
    }

  }
    

}
